---
http_interactions:
- request:
    method: post
    uri: https://mandrillapp.com/api/1.0/messages/send-template.json
    body:
      encoding: UTF-8
      string: '{"key":"abc123","template_name":"order_confirmation","message":{"from_email":"spree@example.com","from_name":"spree@example.com","to":[{"email":"spree@example.com"},{"email":"
        wombat@example.com"}],"bcc_address":"","subject":"Order R123456 was shipped!","global_merge_vars":[{"name":"customer.name","content":"John
        Smith"},{"name":"order.total","content":"100.00"},{"name":"order.tracking","content":"XYZ123"}]},"template_content":[{"name":"User
        1","content":"Content 1"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"email":"spree@example.com","status":"sent","_id":"71ab00ef313247fe81ffdba0e2f999c8","reject_reason":null},{"email":"wombat@example.com","status":"sent","_id":"170c6de9f1f04481bb42b60b7ba1e967","reject_reason":null}]'
  recorded_at: Tue, 09 Sep 2014 12:39:10 GMT
recorded_with: VCR 2.4.0
