---
http_interactions:
- request:
    method: post
    uri: https://mandrillapp.com/api/1.0/messages/send-template.json
    body:
      encoding: UTF-8
      string: ! '{"key":"91619e65-5a04-436b-b744-cefdb1107fab","template_name":"cancel","message":{"from_email":"andrew@spreecommerce.com","to":[{"email":"andrew@spreecommerce.com"}],"subject":"Test
        Store 1 Order Cancellation","global_merge_vars":[{"name":"ship_address_first_name","content":"Santina"},{"name":"ship_address_last_name","content":"Quitzon"},{"name":"ship_address_company","content":null},{"name":"ship_address_address1","content":"5819
        Derick Club"},{"name":"ship_address_address2","content":"Suite 240"},{"name":"ship_address_city","content":"South
        William"},{"name":"ship_address_state","content":"NY"},{"name":"ship_address_country","content":"US"},{"name":"ship_address_zipcode","content":"16804"},{"name":"bill_address_first_name","content":"Santina"},{"name":"bill_address_last_name","content":"Quitzon"},{"name":"bill_address_company","content":null},{"name":"bill_address_address1","content":"5819
        Derick Club"},{"name":"bill_address_address2","content":"Suite 240"},{"name":"bill_address_city","content":"South
        William"},{"name":"bill_address_state","content":"NY"},{"name":"bill_address_country","content":"US"},{"name":"bill_address_zipcode","content":"16804"},{"name":"adjustment_promotion
        (refund)","content":"98.22"},{"name":"order_number","content":"R430172516"},{"name":"item_total","content":"47.97"},{"name":"total","content":"50.37"},{"name":"backordered","content":false},{"name":"line_item_rows","content":"\n        <tr>\n          <td>Ruby
        on Rails Tote</td>\n          <td>3</td>\n          <td>15.99</td>\n        </tr>\n      "}]},"template_content":[{"name":"User
        1","content":"Content 1"}]}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '[{"email":"andrew@spreecommerce.com","status":"sent"}]'
  recorded_at: Wed, 27 Feb 2013 19:26:14 GMT
recorded_with: VCR 2.2.2
